MyApp/pkgs/Wadl/JiraCanvasApp.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/jira-20canvas-20app-5fb57e7af862529f37-5f5b30531a7cffdf5c" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="JiraCanvasApp" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Jira Canvas App"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/jira-20canvas-20app-5fb57e7af862529f37-5f5b30531a7cffdf5c" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="CreateWorkLog_param_body_def_timeSpentSeconds_def" />
      <string name="CreateWorkLog_param_body_def_comment_def_type_def" />
      <integer name="CreateWorkLog_param_body_def_comment_def_version_def" />
      <string name="CreateWorkLog_param_body_def_comment_def_content_def_items_def_type_def" />
      <string name="CreateWorkLog_param_body_def_comment_def_content_def_items_def_content_def_items_def_text_def" />
      <string name="CreateWorkLog_param_body_def_comment_def_content_def_items_def_content_def_items_def_type_def" />
      <object name="CreateWorkLog_param_body_def_comment_def_content_def_items_def_content_def_items_def">
        <property name="text" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="CreateWorkLog_param_body_def_comment_def_content_def_items_def_content_def_items_def" name="CreateWorkLog_param_body_def_comment_def_content_def_items_def_content_def" />
      <object name="CreateWorkLog_param_body_def_comment_def_content_def_items_def">
        <property name="type" type="string" />
        <property name="content" typeRef="CreateWorkLog_param_body_def_comment_def_content_def_items_def_content_def" />
      </object>
      <array typeRef="CreateWorkLog_param_body_def_comment_def_content_def_items_def" name="CreateWorkLog_param_body_def_comment_def_content_def" />
      <object name="CreateWorkLog_param_body_def_comment_def">
        <property name="type" type="string" />
        <property name="version" type="integer" />
        <property name="content" typeRef="CreateWorkLog_param_body_def_comment_def_content_def" />
      </object>
      <string name="CreateWorkLog_param_body_def_started_def" />
      <object name="CreateWorkLog_param_body_def">
        <property name="timeSpentSeconds" type="integer" />
        <property name="comment" typeRef="CreateWorkLog_param_body_def_comment_def" />
        <property name="started" type="string" />
      </object>
      <string name="CreateWorkLog_responses_default_def_self_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_self_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_accountId_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_emailAddress_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_avatarUrls_def_48x48_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_avatarUrls_def_24x24_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_avatarUrls_def_16x16_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_avatarUrls_def_32x32_def" />
      <object name="CreateWorkLog_responses_default_def_author_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="CreateWorkLog_responses_default_def_author_def_displayName_def" />
      <boolean name="CreateWorkLog_responses_default_def_author_def_active_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_timeZone_def" />
      <string name="CreateWorkLog_responses_default_def_author_def_accountType_def" />
      <object name="CreateWorkLog_responses_default_def_author_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="emailAddress" type="string" />
        <property name="avatarUrls" typeRef="CreateWorkLog_responses_default_def_author_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_self_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_accountId_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_emailAddress_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_avatarUrls_def_48x48_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_avatarUrls_def_24x24_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_avatarUrls_def_16x16_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_avatarUrls_def_32x32_def" />
      <object name="CreateWorkLog_responses_default_def_updateAuthor_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_displayName_def" />
      <boolean name="CreateWorkLog_responses_default_def_updateAuthor_def_active_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_timeZone_def" />
      <string name="CreateWorkLog_responses_default_def_updateAuthor_def_accountType_def" />
      <object name="CreateWorkLog_responses_default_def_updateAuthor_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="emailAddress" type="string" />
        <property name="avatarUrls" typeRef="CreateWorkLog_responses_default_def_updateAuthor_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="CreateWorkLog_responses_default_def_comment_def_type_def" />
      <integer name="CreateWorkLog_responses_default_def_comment_def_version_def" />
      <string name="CreateWorkLog_responses_default_def_comment_def_content_def_items_def_type_def" />
      <string name="CreateWorkLog_responses_default_def_comment_def_content_def_items_def_content_def_items_def_text_def" />
      <string name="CreateWorkLog_responses_default_def_comment_def_content_def_items_def_content_def_items_def_type_def" />
      <object name="CreateWorkLog_responses_default_def_comment_def_content_def_items_def_content_def_items_def">
        <property name="text" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="CreateWorkLog_responses_default_def_comment_def_content_def_items_def_content_def_items_def" name="CreateWorkLog_responses_default_def_comment_def_content_def_items_def_content_def" />
      <object name="CreateWorkLog_responses_default_def_comment_def_content_def_items_def">
        <property name="type" type="string" />
        <property name="content" typeRef="CreateWorkLog_responses_default_def_comment_def_content_def_items_def_content_def" />
      </object>
      <array typeRef="CreateWorkLog_responses_default_def_comment_def_content_def_items_def" name="CreateWorkLog_responses_default_def_comment_def_content_def" />
      <object name="CreateWorkLog_responses_default_def_comment_def">
        <property name="type" type="string" />
        <property name="version" type="integer" />
        <property name="content" typeRef="CreateWorkLog_responses_default_def_comment_def_content_def" />
      </object>
      <string name="CreateWorkLog_responses_default_def_created_def" />
      <string name="CreateWorkLog_responses_default_def_updated_def" />
      <string name="CreateWorkLog_responses_default_def_started_def" />
      <string name="CreateWorkLog_responses_default_def_timeSpent_def" />
      <integer name="CreateWorkLog_responses_default_def_timeSpentSeconds_def" />
      <string name="CreateWorkLog_responses_default_def_id_def" />
      <string name="CreateWorkLog_responses_default_def_issueId_def" />
      <object name="CreateWorkLog_responses_default_def">
        <property name="self" type="string" />
        <property name="author" typeRef="CreateWorkLog_responses_default_def_author_def" />
        <property name="updateAuthor" typeRef="CreateWorkLog_responses_default_def_updateAuthor_def" />
        <property name="comment" typeRef="CreateWorkLog_responses_default_def_comment_def" />
        <property name="created" type="string" />
        <property name="updated" type="string" />
        <property name="started" type="string" />
        <property name="timeSpent" type="string" />
        <property name="timeSpentSeconds" type="integer" />
        <property name="id" type="string" />
        <property name="issueId" type="string" />
      </object>
      <integer name="GetEvents_responses_default_def_startAt_def" />
      <integer name="GetEvents_responses_default_def_maxResults_def" />
      <integer name="GetEvents_responses_default_def_total_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_self_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_self_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_accountId_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_emailAddress_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_avatarUrls_def_48x48_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_avatarUrls_def_24x24_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_avatarUrls_def_16x16_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_avatarUrls_def_32x32_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_displayName_def" />
      <boolean name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_active_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_timeZone_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_author_def_accountType_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def_author_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="emailAddress" type="string" />
        <property name="avatarUrls" typeRef="GetEvents_responses_default_def_worklogs_def_items_def_author_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_self_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_accountId_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_emailAddress_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_48x48_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_24x24_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_16x16_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_32x32_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_displayName_def" />
      <boolean name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_active_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_timeZone_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_accountType_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="emailAddress" type="string" />
        <property name="avatarUrls" typeRef="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_type_def" />
      <integer name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_version_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def_type_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def_text_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def_type_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def">
        <property name="text" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def" name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def_content_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def">
        <property name="type" type="string" />
        <property name="content" typeRef="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def_content_def" />
      </object>
      <array typeRef="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def_items_def" name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def_comment_def">
        <property name="type" type="string" />
        <property name="version" type="integer" />
        <property name="content" typeRef="GetEvents_responses_default_def_worklogs_def_items_def_comment_def_content_def" />
      </object>
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_created_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_updated_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_started_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_timeSpent_def" />
      <integer name="GetEvents_responses_default_def_worklogs_def_items_def_timeSpentSeconds_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_id_def" />
      <string name="GetEvents_responses_default_def_worklogs_def_items_def_issueId_def" />
      <object name="GetEvents_responses_default_def_worklogs_def_items_def">
        <property name="self" type="string" />
        <property name="author" typeRef="GetEvents_responses_default_def_worklogs_def_items_def_author_def" />
        <property name="updateAuthor" typeRef="GetEvents_responses_default_def_worklogs_def_items_def_updateAuthor_def" />
        <property name="comment" typeRef="GetEvents_responses_default_def_worklogs_def_items_def_comment_def" />
        <property name="created" type="string" />
        <property name="updated" type="string" />
        <property name="started" type="string" />
        <property name="timeSpent" type="string" />
        <property name="timeSpentSeconds" type="integer" />
        <property name="id" type="string" />
        <property name="issueId" type="string" />
      </object>
      <array typeRef="GetEvents_responses_default_def_worklogs_def_items_def" name="GetEvents_responses_default_def_worklogs_def" />
      <object name="GetEvents_responses_default_def">
        <property name="startAt" type="integer" />
        <property name="maxResults" type="integer" />
        <property name="total" type="integer" />
        <property name="worklogs" typeRef="GetEvents_responses_default_def_worklogs_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/jira-20canvas-20app-5fb57e7af862529f37-5f5b30531a7cffdf5c">
    <resource path="/{connectionId}/rest/api/3/issue/OPS-1/worklog">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateWorkLog" actionName="CreateWorkLog" siena:isDeprecated="false">
        <doc title="CreateWorkLog&#xA;CreateWorkLog" />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="timeSpentSeconds" path="/timeSpentSeconds" type="xs:int" />
            <param style="plain" name="comment" path="/comment" type="service:CreateWorkLog_param_body_def_comment_def" />
            <param style="plain" name="started" path="/started" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:CreateWorkLog_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/rest/api/3/issue/OPS-1/worklog">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetEvents" actionName="GetEvents" siena:isDeprecated="false">
        <doc title="Get Events&#xA;Get Events" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetEvents_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_jira-20canvas-20app-5fb57e7af862529f37-5f5b30531a7cffdf5c" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>