JiraApp/pkgs/Wadl/CreateandGetIssueWorklogs.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="CreateandGetIssueWorklogs" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Create and Get Issue Worklogs" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string dtype="hyperlink" name="ManualTriggerInput_HTTP_URI_def" />
      <string name="ManualTriggerInput_HTTP_Body_def" />
      <string name="ManualTriggerInput_HTTP_Body_1_def" />
      <string name="ManualTriggerInput_HTTP_Username_def" />
      <string name="ManualTriggerInput_HTTP_Password_def" />
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_HTTP_Body_2_def" />
      <integer name="ManualTriggerInput_Initializevariable2_Value_def" />
      <string dtype="hyperlink" name="ManualTriggerInput_HTTP3_URI_def" />
      <string name="ManualTriggerInput_HTTP3_URI_1_def" />
      <object name="ManualTriggerInput">
        <property name="HTTP_URI" type="string" dtype="hyperlink" />
        <property name="HTTP_Body" type="string" />
        <property name="HTTP_Body_1" type="string" />
        <property name="HTTP_Username" type="string" />
        <property name="HTTP_Password" type="string" />
        <property name="Initializevariable_Value" type="string" />
        <property name="HTTP_Body_2" type="string" />
        <property name="Initializevariable2_Value" type="integer" />
        <property name="HTTP3_URI" type="string" dtype="hyperlink" />
        <property name="HTTP3_URI_1" type="string" />
      </object>
      <integer name="ResponseActionOutput_startAt_def" />
      <integer name="ResponseActionOutput_maxResults_def" />
      <integer name="ResponseActionOutput_total_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_self_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_self_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_accountId_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_emailAddress_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_avatarUrls_def_48x48_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_avatarUrls_def_24x24_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_avatarUrls_def_16x16_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_avatarUrls_def_32x32_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def_author_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_displayName_def" />
      <boolean name="ResponseActionOutput_worklogs_def_items_def_author_def_active_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_timeZone_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_author_def_accountType_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def_author_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="emailAddress" type="string" />
        <property name="avatarUrls" typeRef="ResponseActionOutput_worklogs_def_items_def_author_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_self_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_accountId_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_emailAddress_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_48x48_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_24x24_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_16x16_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_avatarUrls_def_32x32_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_displayName_def" />
      <boolean name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_active_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_timeZone_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_accountType_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="emailAddress" type="string" />
        <property name="avatarUrls" typeRef="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="ResponseActionOutput_worklogs_def_items_def_comment_def_type_def" />
      <integer name="ResponseActionOutput_worklogs_def_items_def_comment_def_version_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def_type_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def_text_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def_type_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def">
        <property name="text" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def_content_def_items_def" name="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def_content_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def">
        <property name="type" type="string" />
        <property name="content" typeRef="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def_content_def" />
      </object>
      <array typeRef="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def_items_def" name="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def_comment_def">
        <property name="type" type="string" />
        <property name="version" type="integer" />
        <property name="content" typeRef="ResponseActionOutput_worklogs_def_items_def_comment_def_content_def" />
      </object>
      <string name="ResponseActionOutput_worklogs_def_items_def_created_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_updated_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_started_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_timeSpent_def" />
      <integer name="ResponseActionOutput_worklogs_def_items_def_timeSpentSeconds_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_id_def" />
      <string name="ResponseActionOutput_worklogs_def_items_def_issueId_def" />
      <object name="ResponseActionOutput_worklogs_def_items_def">
        <property name="self" type="string" />
        <property name="author" typeRef="ResponseActionOutput_worklogs_def_items_def_author_def" />
        <property name="updateAuthor" typeRef="ResponseActionOutput_worklogs_def_items_def_updateAuthor_def" />
        <property name="comment" typeRef="ResponseActionOutput_worklogs_def_items_def_comment_def" />
        <property name="created" type="string" />
        <property name="updated" type="string" />
        <property name="started" type="string" />
        <property name="timeSpent" type="string" />
        <property name="timeSpentSeconds" type="integer" />
        <property name="id" type="string" />
        <property name="issueId" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_worklogs_def_items_def" name="ResponseActionOutput_worklogs_def" />
      <object name="ResponseActionOutput">
        <property name="startAt" type="integer" />
        <property name="maxResults" type="integer" />
        <property name="total" type="integer" />
        <property name="worklogs" typeRef="ResponseActionOutput_worklogs_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="HTTP_URI" path="/HTTP_URI" type="xs:anyURI" siena:dtype="hyperlink" required="true" />
            <param style="plain" name="HTTP_Body" path="/HTTP_Body" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Body_1" path="/HTTP_Body_1" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Username" path="/HTTP_Username" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Password" path="/HTTP_Password" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Body_2" path="/HTTP_Body_2" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable2_Value" path="/Initializevariable2_Value" type="xs:long" required="true" />
            <param style="plain" name="HTTP3_URI" path="/HTTP3_URI" type="xs:anyURI" siena:dtype="hyperlink" required="true" />
            <param style="plain" name="HTTP3_URI_1" path="/HTTP3_URI_1" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>