JiraApp/pkgs/Wadl/GetIssuesRelatedtoProject.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetIssuesRelatedtoProject" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Get Issues Related to Project" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string dtype="hyperlink" name="ManualTriggerInput_HTTP_URI_def" />
      <string name="ManualTriggerInput_HTTP_Username_def" />
      <string name="ManualTriggerInput_HTTP_Password_def" />
      <object name="ManualTriggerInput">
        <property name="HTTP_URI" type="string" dtype="hyperlink" />
        <property name="HTTP_Username" type="string" />
        <property name="HTTP_Password" type="string" />
      </object>
      <string name="ResponseActionOutput_expand_def" />
      <integer name="ResponseActionOutput_startAt_def" />
      <integer name="ResponseActionOutput_maxResults_def" />
      <integer name="ResponseActionOutput_total_def" />
      <string name="ResponseActionOutput_issues_def_items_def_expand_def" />
      <string name="ResponseActionOutput_issues_def_items_def_id_def" />
      <string name="ResponseActionOutput_issues_def_items_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_key_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_statuscategorychangedate_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_id_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_description_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_iconUrl_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_name_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_subtask_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_avatarId_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def_hierarchyLevel_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def">
        <property name="self" type="string" />
        <property name="id" type="string" />
        <property name="description" type="string" />
        <property name="iconUrl" type="string" />
        <property name="name" type="string" />
        <property name="subtask" type="boolean" />
        <property name="avatarId" type="integer" />
        <property name="hierarchyLevel" type="integer" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_id_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_key_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_name_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_projectTypeKey_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_simplified_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_avatarUrls_def_48x48_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_avatarUrls_def_24x24_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_avatarUrls_def_16x16_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_avatarUrls_def_32x32_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_project_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_project_def">
        <property name="self" type="string" />
        <property name="id" type="string" />
        <property name="key" type="string" />
        <property name="name" type="string" />
        <property name="projectTypeKey" type="string" />
        <property name="simplified" type="boolean" />
        <property name="avatarUrls" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_project_def_avatarUrls_def" />
      </object>
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_workratio_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_watches_def_self_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_watches_def_watchCount_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_watches_def_isWatching_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_watches_def">
        <property name="self" type="string" />
        <property name="watchCount" type="integer" />
        <property name="isWatching" type="boolean" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_created_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_priority_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_priority_def_iconUrl_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_priority_def_name_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_priority_def_id_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_priority_def">
        <property name="self" type="string" />
        <property name="iconUrl" type="string" />
        <property name="name" type="string" />
        <property name="id" type="string" />
      </object>
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def_hasEpicLinkFieldDependency_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def_showField_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def_nonEditableReason_def_reason_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def_nonEditableReason_def_message_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def_nonEditableReason_def">
        <property name="reason" type="string" />
        <property name="message" type="string" />
      </object>
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def">
        <property name="hasEpicLinkFieldDependency" type="boolean" />
        <property name="showField" type="boolean" />
        <property name="nonEditableReason" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def_nonEditableReason_def" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10019_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_accountId_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_avatarUrls_def_48x48_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_avatarUrls_def_24x24_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_avatarUrls_def_16x16_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_avatarUrls_def_32x32_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_displayName_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_active_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_timeZone_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_accountType_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="avatarUrls" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_updated_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_description_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_iconUrl_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_name_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_id_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_statusCategory_def_self_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_statusCategory_def_id_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_statusCategory_def_key_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_statusCategory_def_colorName_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_statusCategory_def_name_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_status_def_statusCategory_def">
        <property name="self" type="string" />
        <property name="id" type="integer" />
        <property name="key" type="string" />
        <property name="colorName" type="string" />
        <property name="name" type="string" />
      </object>
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_status_def">
        <property name="self" type="string" />
        <property name="description" type="string" />
        <property name="iconUrl" type="string" />
        <property name="name" type="string" />
        <property name="id" type="string" />
        <property name="statusCategory" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_status_def_statusCategory_def" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_summary_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_accountId_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_avatarUrls_def_48x48_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_avatarUrls_def_24x24_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_avatarUrls_def_16x16_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_avatarUrls_def_32x32_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_displayName_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_active_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_timeZone_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_accountType_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_creator_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="avatarUrls" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_creator_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_self_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_accountId_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_avatarUrls_def_48x48_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_avatarUrls_def_24x24_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_avatarUrls_def_16x16_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_avatarUrls_def_32x32_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_avatarUrls_def">
        <property name="48x48" type="string" />
        <property name="24x24" type="string" />
        <property name="16x16" type="string" />
        <property name="32x32" type="string" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_displayName_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_active_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_timeZone_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_accountType_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def">
        <property name="self" type="string" />
        <property name="accountId" type="string" />
        <property name="avatarUrls" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def_avatarUrls_def" />
        <property name="displayName" type="string" />
        <property name="active" type="boolean" />
        <property name="timeZone" type="string" />
        <property name="accountType" type="string" />
      </object>
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_aggregateprogress_def_progress_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_aggregateprogress_def_total_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_aggregateprogress_def">
        <property name="progress" type="integer" />
        <property name="total" type="integer" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10000_def" />
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_duedate_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_progress_def_progress_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_progress_def_total_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_progress_def">
        <property name="progress" type="integer" />
        <property name="total" type="integer" />
      </object>
      <string name="ResponseActionOutput_issues_def_items_def_fields_def_votes_def_self_def" />
      <integer name="ResponseActionOutput_issues_def_items_def_fields_def_votes_def_votes_def" />
      <boolean name="ResponseActionOutput_issues_def_items_def_fields_def_votes_def_hasVoted_def" />
      <object name="ResponseActionOutput_issues_def_items_def_fields_def_votes_def">
        <property name="self" type="string" />
        <property name="votes" type="integer" />
        <property name="hasVoted" type="boolean" />
      </object>
      <object name="ResponseActionOutput_issues_def_items_def_fields_def">
        <property name="statuscategorychangedate" type="string" />
        <property name="issuetype" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_issuetype_def" />
        <property name="project" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_project_def" />
        <property name="workratio" type="integer" />
        <property name="watches" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_watches_def" />
        <property name="created" type="string" />
        <property name="priority" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_priority_def" />
        <property name="customfield_10018" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_customfield_10018_def" />
        <property name="customfield_10019" type="string" />
        <property name="assignee" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_assignee_def" />
        <property name="updated" type="string" />
        <property name="status" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_status_def" />
        <property name="summary" type="string" />
        <property name="creator" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_creator_def" />
        <property name="reporter" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_reporter_def" />
        <property name="aggregateprogress" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_aggregateprogress_def" />
        <property name="customfield_10000" type="string" />
        <property name="duedate" type="string" />
        <property name="progress" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_progress_def" />
        <property name="votes" typeRef="ResponseActionOutput_issues_def_items_def_fields_def_votes_def" />
      </object>
      <object name="ResponseActionOutput_issues_def_items_def">
        <property name="expand" type="string" />
        <property name="id" type="string" />
        <property name="self" type="string" />
        <property name="key" type="string" />
        <property name="fields" typeRef="ResponseActionOutput_issues_def_items_def_fields_def" />
      </object>
      <array typeRef="ResponseActionOutput_issues_def_items_def" name="ResponseActionOutput_issues_def" />
      <object name="ResponseActionOutput">
        <property name="expand" type="string" />
        <property name="startAt" type="integer" />
        <property name="maxResults" type="integer" />
        <property name="total" type="integer" />
        <property name="issues" typeRef="ResponseActionOutput_issues_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="HTTP_URI" path="/HTTP_URI" type="xs:anyURI" siena:dtype="hyperlink" required="true" />
            <param style="plain" name="HTTP_Username" path="/HTTP_Username" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Password" path="/HTTP_Password" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>